<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div id="app">
    <el-tabs tab-position="left">
        <el-tab-pane label="报文监听">
            <el-form :model="focusForm" label-width="80px">
                <el-form-item label="当前绑定">
                    {{currentBind}}
                </el-form-item>
                <el-form-item label="监听地址">
                    <el-input v-model="focusPath" style="width: 60vw"></el-input>
                    <el-button @click="doFocusBind">确认</el-button>
                </el-form-item>
                <el-form-item label="监听数据">
                    <el-table :data="focusForm.dataHistory" style="width: 100%">
                        <el-table-column label="日期">
                            <template slot-scope="scope">
                                <i class="el-icon-time"></i>
                                <span>{{ scope.row.requestDateTime }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="请求方式">
                            <template slot-scope="scope">
                                <span>{{ scope.row.requestMethod }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="地址">
                            <template slot-scope="scope">
                                <span>{{ scope.row.requestUri }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button size="mini" @click="showDetail(scope.row)">详 情</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-form-item>
            </el-form>
        </el-tab-pane>
    </el-tabs>
    <el-dialog
            top="3vh"
            title="详细报文"
            :visible.sync="dialogVisible"
            width="75%">
        <el-form :model="currentDetail" label-width="80px">
            <el-row>
                <el-col :span="8">
                    <el-form-item label="请求时间">
                        {{currentDetail.requestDateTime}}
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="地址">
                        {{currentDetail.requestUri}}
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="请求方式">
                        {{currentDetail.requestMethod}}
                    </el-form-item>
                </el-col>
            </el-row>


            <el-form-item label="请求头">
                <el-table :data="currentDetail.headerList" style="width: 100%" height="40vh">
                    <el-table-column label="键">
                        <template slot-scope="scope">
                            <span>{{ scope.row.key }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="值">
                        <template slot-scope="scope">
                            <span>{{ scope.row.value }}</span>
                        </template>
                    </el-table-column>
                </el-table>
            </el-form-item>
            <el-form-item v-show="currentDetail.requestMethod=='POST'" label="请求体">
                <el-input
                        type="textarea"
                        :rows="5"
                        placeholder="请求体"
                        v-model="currentDetail.requestBody">
                </el-input>
            </el-form-item>
        </el-form>
        <el-button @click="dialogVisible = false">关闭</el-button>
        </span>
    </el-dialog>
</div>
</body>
<!-- import Vue before Element -->
<script src="../js/vue.min.js"></script>
<!-- import JavaScript -->
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                dialogVisible: false,
                focusForm: {
                    dataHistory: []
                },
                currentBind: '未绑定',
                focusPath: '*',
                socket: null,
                currentDetail: {
                    headerList: []
                },
            }
        },
        mounted: function () {
        },
        methods: {
            showDetail(row) {
                this.currentDetail = row
                this.dialogVisible = true
            },
            doFocusBind() {
                this.currentBind = this.focusPath
                let that = this
                let fun = () => {
                    that.socket.send(this.focusPath)
                }
                this.openSocket(fun)
                this.$message({
                    showClose: true,
                    message: '绑定完成',
                    type: 'success'
                });
            },
            openSocket(call) {
                let that = this
                if (typeof (WebSocket) == "undefined") {
                    console.log("您的浏览器不支持WebSocket");
                } else {
                    console.log("您的浏览器支持WebSocket");
                    //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
                    //等同于socket = new WebSocket("ws://localhost:8888/xxxx/im/25");
                    //var socketUrl="${request.contextPath}/im/"+$("#userId").val();
                    let socketUrl = 'ws://' + window.location.host + '/websocket';
                    if (this.socket != null) {
                        this.socket.close();
                        console.log("关闭上一个连接");
                        this.socket = null;
                    }
                    this.socket = new WebSocket(socketUrl);
                    //打开事件
                    this.socket.onopen = function () {
                        call()
                    };

                    //获得消息事件
                    this.socket.onmessage = function (msg) {
                        let jsonObj = JSON.parse(msg.data)
                        that.focusForm.dataHistory.push(jsonObj)
                        //发现消息进入    开始处理前端触发逻辑
                    };
                    //关闭事件
                    this.socket.onclose = function () {
                        console.log("websocket已关闭");
                    };
                    //发生了错误事件
                    this.socket.onerror = function () {
                        console.log("websocket发生了错误");
                    }
                }
            }
        }
    })
</script>
</html>